<div class="container" class="valign">
    <h1>Enter a Track</h1>
    <form method="post" action = '/tracks'>
    <ul>
        <li>
            <input type="text" placeholder="Song Title" name="email" value="<%= @track && @track.song_title%>">
        </li>
        <li>
            <input type="text" placeholder="author" name="author" value="<%= @track && @track.author %>">
            <input type="hidden" name="user_id" value="<%= @track && @track.user_id %>">
        </li>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
         <i class="material-icons right">done</i>
        </button>
    </ul>
    </form>
<% if @track && @track.errors.any? %>
  <div>
    <strong>Some issues with your track, please fix them:</strong>
    <ul>
      <%# binding.pry %>
      <% @track.errors.full_messages.each do |track| %>
        <li><%= track %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
