/* label focus color */
   /*.input-field input[type=text]:focus + label {
     color: #64b5f6;
   }*/
   /* label underline focus color */
   /*.input-field input[type=text]:focus {
     border-bottom: 1px solid #64b5f6;
     box-shadow: 0 1px 0 0 #64b5f6;
   }*/
   body {
       display: flex;
       min-height: 100vh;
       flex-direction: column;
     }

     main {
       flex: 1 0 auto;
     }
     .secondary-content {
         float: right;
         color: #039be5;
     }
/*stars rating css*/

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none !important;
            position:fixed !important;
            opacity:0 !important;
    }

input[type="radio"]:checked{
    visibility:hidden;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
