<div class="container">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Users</h4></li>
    <%@users.each do |user|%>
      <li class="collection-item"><%= user.email%></li>
    <%end%>
  </ul>
  <a href="/logout">Logout from Tracks</a>
</div>
