<div class="container" class="valign">
  <p class="flow-text">Welcom to the Tracks Site, where you can add your favorite tracks, and Vote up the tracks you love.</p>
  <div class="center-align">
        <% if !current_user%><a href="/signin" class="waves-effect waves-light btn blue darken-1"><i class="material-icons right">send</i>Sign In</a><%end%>
  </div>
</div>
